*{
	margin: 0;
	padding: 0;

font-family: sans-serif;
}
.hero{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('asserts/banner.jpg');
	background-position: center;
	background-size: cover;
	position: absolute;

}
.form-box{
	width: 250px;
	height: 350px;
	position: relative;
	margin: 6% auto;
	background:#fff;
	padding: 5%;
	overflow: hidden;

}
.button-box{
	width: 200px;
	margin:-40px auto;
	position: relative;
	box-shadow: 0 0 20px 9px  #ff61241f;
	border-radius: 30px;  
}
.toggle-btn{
	padding: 5px 20px;
	cursor: pointer;
	margin-left: 12px;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn{

	top: 0;
	left: 0;
	position: absolute;
	width: 90px;
	height: 100%;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius:  30px;
    transition: .5s;


}
.social-icon{
	margin:50px auto;
	text-align: center;

}
.social-icon img{
	width:25px;
	height: 25px;
	margin: 0 12px;
	box-shadow: 0 0 20px #7f7f7f3d;
	cursor: pointer;
	border-radius: 30px;

	text-align: center;
}
.input-group{
	top: 180px;
	position: absolute;
	width: 280px ;
	transition: .5s;

}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline:none;
	background:transparent;

}
.submit-btn{

	width:85%;
	padding: 10px 20px;
	cursor: pointer;
	display: block;
	margin:10px;
    background:linear-gradient(to right,#ff105f,#ffad06);
    border:0;
    outline: none;
    border-radius: 30px;

}
.check-box{

	margin: 30px 10px  30px 0;

}
span{
	color: #777;
	font-size: 12px;
	margin:29px;


	position: absolute;
}
#login{

	left: 50px;

}

#register{
   
	margin-left: 450px;
}